body {
    padding: 0;
    margin: 0;
    background-color: #ACFCD9;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    .calculator {
        width: 750px;
        height: 80%;
        background-color: #B084CC;
        border-radius: 50px;
        box-shadow: 0 0 20px 2px black;

        .display-div {
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                font-family: 'Digital 7', sans-serif;
                background-color: white;
                height: 60%;
                width: 90%;
                margin: 20px 0 20px 0;
                border-radius: 30px;
                font-size: 50px;
                text-align: end;
                padding: 0 15px 0 15px;
            }
        }

        .keyboard {
            margin: 0 25px 0 25px;
            height: 70%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 30px;
            
            button {
                flex-shrink: 0.5;
                height: 70px;
                width: 150px;
                display: inline-block;
                font-size: 40px;
                border-radius: 30px;
                border: 0;
            }
        }
    }
}

@media (max-width: 670px) {
    body {
        background-color: transparent;
    }
    .container {
        background-color: #B084CC;
        height: 100vh;

        .calculator {
            background-color: #B084CC;
            border-radius: 0;
            box-shadow: none;

            .display-div input {
                margin: 0 25px 0 25px;
                width: 100%;
            }
        }
    }
    .keyboard > button {
        max-width: 125px;
    }
}

@media (max-width: 555px) {
    .keyboard > button {
        max-width: 101px;
    }
}

@media (max-width: 455px) {
    .keyboard > button {
        max-width: 90px;
    }
}

@media (max-width: 410px) {
    .keyboard > button {
        max-width: 72px;
    }
}