* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #EDFFEC;
}

.container {
    margin-top: 30px;
    width: 900px;
    border-radius: 50px;
}

.container .todo-div {
    color: #61E786;
    font-size: 50px;
    text-align: center;
}

.container .todo-form {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.container .todo-form .todo-field {
    width: 90%;
    display: flex;
    gap: 10px;
    
    #todo-field {
        width: 80%;
        height: 30px;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
    }

    button {
        width: 20%;
        height: 53px;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
    }
}

.container .todo-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .todo-col {
        width: 87%;
        display: flex;
        justify-content: space-between;
        margin: 7px 0 7px 0;
        color: white;

        .index {
            font-size: 25px;
        }

        .todo-target {
            width: 50%;
            word-wrap: break-word;
            font-size: 25px;
            margin-left: 10px;
        }

        .todo-complete-btn {
            height: 50px;
            width: 10%;
            background-color: transparent;
            /* background-color: #69DDFF; */
            font-size: 35px;
            border: none;
            border-radius: 10px;
        }

        .todo-delete-btn {
            color: white;
            height: 50px;
            width: 10%;
            background-color: transparent;
            /* background-color: #BE92A2; */
            font-size: 35px;
            border: none;
            border-radius: 10px;
        }
    }
}

.container .todo-list, .container .todo-start {
    margin: 50px 0 50px 0;
    background-color: #48435C;
    border-radius: 50px;
    padding: 20px 0 20px 0;
}

.completed {
    text-decoration-line: line-through;
}

.todo-score > div {
    display: flex;
    gap: 5px;
}

.todo-score {
    font-size: 30px;
    gap: 30px;
    color: white;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .container .todo-div {
        font-size: 40px;
    }
    .todo-score {
        text-align: left;
    }
    .container .todo-list, .container .todo-start {
        border-radius: 0;
    }
}